* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url("images/amazon_logo.png");
}

.border{
    
    border: 1px solid transparent;
    border-radius: 5px;
}
.border:hover{
    border: 1px solid white;
}

/*2nd box*/

.add-icon{
    display: flex;
}
.address1{
    margin-left: 15px;
    color: #cccccc;
    font-size: .85rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.address2{
    margin-left: 5px;
    font-weight: bold;
}

/*3rd box*/

.nav-search{
    display: flex;
    background-color: #ff9933;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    
}
.nav-search:hover{
    border: 2px solid #ff9933;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-righT-radius: 4px;
    color: black;
}

/*Box 4*/

.text1{
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}
.text2{
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

/* Box 5*/

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: bold;
}

/* Box 5*/

.panel{
    height: 40px;
    width: 100%;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 14px;
}
.panel-opts{
    width: 70%;
}
a{
    margin: 10px;
}

/* Hero section*/

.hero-section{
    background-image: url("images/hero_image.jpg");
    background-size: cover;
    
    height: 350px;
    width: 100%;
    
}
.hero-msg{
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: relative;
    top: 250px;
    margin: auto;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}